## First python class 
### Basics of python

In [2]:
1+2

3

In [3]:
4%2

0

In [1]:
4/2

2.0

In [2]:
a=2

In [3]:
type (a)

int

In [4]:
5//2

2

In [5]:
5/2

2.5

In [7]:
#BODMAS - Bracket, Order, Division, Multiplication, Addition, Substraction

2*5+2

12

In [8]:
a=10

In [9]:
type(a)

int

In [11]:
a = 5
b = 10
c = a + b

In [12]:
c

15

In [13]:
type(c)

int

In [14]:
type('Chetan')

str

In [15]:
type(8.0)

float

In [16]:
str1 = "Chetan works in Amazon"

In [17]:
str1

'Chetan works in Amazon'

In [19]:
print(str1)

Chetan works in Amazon

In [20]:
str2 ="since 2018"

In [21]:
str1 + " " + str2

'Chetan works in Amazon since 2018'

In [16]:
a = int(input("Enter number 1 ="))
b = int(input("Enter number 2 ="))
c =(a+b)
print("Addition is =",c)

Enter number 1 =20
Enter number 2 =50
Addition is = 70

In [17]:
print(c)

70

In [6]:
## String formating
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print("My fist name is {} and my last name is {}".format(first_name, last_name))
print("My first name is {one} and my last in is {two}".format(two=last_name, one=first_name))

What is your first name?Chetan
What is your last name?Nagapure
My fist name is Chetan and my last name is Nagapure
My first name is Chetan and my last in is Nagapure

In [ ]:
### Variable Dynamic input

In [7]:
a= 5.5
type(a)

float

In [8]:
b = ("Chetan")

In [9]:
type(b)

str

In [12]:
### Strong typing
a = "Chetan" + str(2)

In [13]:
a

'Chetan2'

In [15]:
b = 2 + int("1")

In [16]:
b

3

In [ ]:
### Conditional Statements

In [33]:
a =int(input("Enter first number = "))
b =int(input("Enter second number = "))
c = a - b
print("Output value", c)
if c < 0:
    print("This is negative number")
elif c > 40:
    if c > 100:
        print("The number is greater than 100")
    else:
        print("The number is less than 100")
else:
    print("This is positive number")

Enter first number = 10
Enter second number = 20
Output value -10
This is negative number

### Data structure 
1. List
2. Tuple 
3. String 
4. Dictionary 
5. Sets

In [4]:
lst = [1,2,3,"Chetan","Nimish","Ginni"]

In [5]:
lst

[1, 2, 3, 'Chetan', 'Nimish', 'Ginni']

In [12]:
lst[3]

'Chetan'

In [6]:
type(lst[3])

str

In [7]:
lst.append(2)

In [8]:
lst

[1, 2, 3, 'Chetan', 'Nimish', 'Ginni', 2]

In [10]:
lst[2] = "Data Science"

In [11]:
lst

[1, 2, 'Data Science', 'Chetan', 'Nimish', 'Ginni', 2]

In [12]:
print(lst)

[1, 2, 'Data Science', 'Chetan', 'Nimish', 'Ginni', 2]

In [13]:
lst.remove("Chetan")

In [14]:
lst

[1, 2, 'Data Science', 'Nimish', 'Ginni', 2]

In [15]:
lst.append("Chetan")
lst.append("Chetan")
lst

[1, 2, 'Data Science', 'Nimish', 'Ginni', 2, 'Chetan', 'Chetan']

In [17]:
lst.count("Chetan")

2

In [19]:
lst.pop()

'Chetan'

In [20]:
lst

[1, 2, 'Data Science', 'Nimish', 'Ginni', 2, 'Chetan']